ENV=development
YUGEN_DEBUG=false
YUGEN_LOG_LEVEL=INFO

DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=kazu
DATABASE_PORT=5432

API_LISTEN_PORT=3000
API_LISTEN_HOST=0.0.0.0

KAZU_API_LISTEN_PORT=3000
KUSARI_API_LISTEN_PORT=3001
IRO_API_LISTEN_PORT=3002
HOSHI_API_LISTEN_PORT=3003

OWNER_IDS=
OWNER_ID=
DISCORD_DEVELOPMENT_GUILD_ID=

DISCORD_LOGS_REPORT_CHANNEL_ID=
DISCORD_VOTE_REPORT_CHANNEL_ID=

WEBHOOK_AUTHORIZATION_TOKEN=

LOKI_HOST=
LOKI_USERNAME=
LOKI_PASSWORD=
