DISCORD_TOKEN=
DISCORD_APP_ID=1208707396399267881

SYNC_COMMANDS=false

DATABASE_URL=postgres://postgres:postgres@db:5432/hoshi

TOP_GG_SYNC=false
TOP_GG_TOKEN=
TOP_GG_VOTE_LINK=

DISCORDBOTLIST_SYNC=false
DISCORDBOTLIST_TOKEN=
DISCORDBOTLIST_VOTE_LINK=

INVITE_LINK=https://discord.com/oauth2/authorize?client_id=1208707396399267881&scope=bot&permissions=511040
