DISCORD_TOKEN=
DISCORD_APP_ID=

SYNC_COMMANDS=false

DATABASE_URL=postgres://postgres:postgres@db:5432/hachimitsu?sslmode=disable

TOP_GG_SYNC=false
TOP_GG_TOKEN=
TOP_GG_VOTE_LINK=

DISCORDBOTLIST_SYNC=false
DISCORDBOTLIST_TOKEN=
DISCORDBOTLIST_VOTE_LINK=

DISCORD_VOTE_REPORT_CHANNEL_ID=
WEBHOOK_AUTHORIZATION_TOKEN=

INVITE_LINK=https://discord.com/oauth2/authorize?client_id=1523707144644464831&permissions=274878295110&scope=bot+applications.commands
